
@font-face {
    font-family: 'proxima_nova_altlight';
    src: url('../fonts/proxima_nova_alt_light-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_alt_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_altregular';
    src: url('../fonts/proxima_nova_alt_regular-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_alt_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_altthin';
    src: url('../fonts/proxima_nova_alt_thin-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_alt_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_altsemibold';
    src: url('../fonts/proximanovaa-semibold-webfont.woff2') format('woff2'),
         url('../fonts/proximanovaa-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_altbold';
    src: url('../fonts/proxima_nova_alt_bold-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_alt_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'renogareregular';
    src: url('../fonts/renogare-webfont.woff2') format('woff2'),
         url('../fonts/renogare-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gilroy-blackuploaded_file';
    src: url('../fonts/gilroy-black-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gilroy-bolduploaded_file';
    src: url('../fonts/gilroy-bold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gilroy-extrabolduploaded_file';
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gilroy-heavyuploaded_file';
    src: url('../fonts/gilroy-heavy-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'gilroy-lightuploaded_file';
    src: url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gilroy-mediumuploaded_file';
    src: url('../fonts/gilroy-medium-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gilroy-regularuploaded_file';
    src: url('../fonts/gilroy-regular-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{font-family: 'proxima_nova_altregular'; color: #4A4A4A;}
h1, h2, h3, h4{font-family: 'renogareregular';text-transform: uppercase;}
.df {display: flex;}
ul, li {list-style-type: none; padding: 0; margin: 0;  /* added from sachin repo */}
.fp-section{height: 100% !important;}

/* below global css added from sachin repo */
.fp-slidesNav {display: none;}
a:link {text-decoration: inherit;color: inherit;cursor: pointer;}
a:visited {text-decoration: inherit;color: inherit;cursor: pointer;}
section {padding: 0 50px;}


